
  



@media (min-width: 1200px){

  .background-color{
      background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }

  .text-size{
      font-size: 30px;
      font-weight: bold;
  }
  .padding{
      padding: 40px;        
      margin-left: 50px;
  }
  h1{
      font-size: 100px;
      color: rgb(23, 10, 118);
      font-weight: 1000;
  }
  h2{
      font-size: 50px;
      font-weight: 1000;
  }
  p{
      font-size: 23px;
  }

  h4,h5,h1, h2, p, .bnt{
      padding: 0;
      margin-top: 20px;
  }

  h4{
    font-weight: bold;
    color: #182848;
  }
  
  h5{
    font-size: 20px;
  }

  
  .btn{
      padding: 10px 40px;
      font-size: 20px;
      background-color: rgb(23, 10, 118);
      border-radius: 50px;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  .spinner-border{
          height: 60px;
          width: 60px;
          margin: auto;
          display: flex;
          border-left: 6px solid rgba(0, 174, 239, .15);
          border-right: 6px solid rgba(0, 174, 239, .15);
          border-bottom: 6px solid rgba(0, 174, 239, .15);
          border-top: 6px solid rgba(0, 174, 239, .8);
          border-radius: 100%;
        }

        .w-50{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 5px;

        }

        .card {
          margin-right: auto;
          margin-left: auto;    
          box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);    
          border-radius: 5px;
          backdrop-filter: blur(14px);
          background-color: rgba(255, 255, 255, 0.2);
          padding: 10px;
          font-family: 'Montserrat Alternates', sans-serif;
      }
      
      
        
      
      .navbar-expand-lg{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding:  10px 10%;
          color: white;
          font-family: 'Montserrat Alternates', sans-serif;
      
      }
      .navbar-expand-lg .navbar-nav .nav-link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 40px;
          color: white;
          font-family: 'Montserrat Alternates', sans-serif;
      }
      .navbar-expand-lg .navbar-nav .nav-link:hover{
          color: rgb(245, 228, 228);
          font-family: 'Montserrat Alternates', sans-serif;
      }
      footer{
          position:relative;
          left:0;
          bottom:0;
          right:0;
          background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
      }
      .logo-space{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
      
      
}

@media screen and (max-device-width: 480px) { 
    

    .logo-space{
        padding: 20px;
      }

    .padding{
        padding: 40px;        
        
    }

  .background-color{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }

  .text-size{
      font-size: 15px;
      font-weight: bold;
  }

  .spinner-border{
      height: 60px;
      width: 60px;
      margin: auto;
      display: flex;
      border-left: 6px solid rgba(0, 174, 239, .15);
      border-right: 6px solid rgba(0, 174, 239, .15);
      border-bottom: 6px solid rgba(0, 174, 239, .15);
      border-top: 6px solid rgba(0, 174, 239, .8);
      border-radius: 100%;
    }
  
  h1{
      font-size: 50px;
      color: rgb(23, 10, 118);
      font-weight: 800;
  }
  h2{
      font-size: 30px;
      font-weight: 1000;
  }
  p{
      font-size: 13px;
  }

  h1, h2, p{
      padding: 0;
      margin-top: 10px;
      text-align: center;
  }
  h4{
    font-weight: bold;
  }
  
  h5{
    font-size: 15px;
  }
  .btn{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;
      background-color: rgb(23, 10, 118);
      border-radius: 50px;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  .bnt{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
      margin-right: auto;
      margin-left: auto;    
      box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);    
      border-radius: 5px;
      backdrop-filter: blur(14px);
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 10%;
      color: white;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  .ml-auto, .mx-auto{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  footer{
      position:relative;
      left:0;
      bottom:0;
      right:0;
      background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
  

}


